*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://media.istockphoto.com/id/1263930234/es/vector/fondo-borroso-abstracto-brillante.jpg?s=612x612&w=0&k=20&c=90q7wJq0HN404lTqLctF5b7rDMU41znrcuPeP-xebZI=);
    color: white;
}

#contenedorppal{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E5E8E8;
    border-radius: 20px;
    overflow: hidden;
}

header{
    height: 150px;
    background-color: #1ABC9C;
    justify-items: center;
}

header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

nav{
    background-color: #A3E4D7;
    height: 60px;
}

nav h2{
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    color: black;
}

#contenido{
    background-color: #A9CCE3;
    height: 500px;
    width: 700px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;


}

article h2{
    font-size: 35px;
    text-align: center;
    line-height: 500px;
    color: black;
}

aside{
    background-color: #ABEBC6;
    height: 500px;
    width: 250px;
    float: right;
    margin-top: 10px;
}

aside h2{
    font-size: 35px;
    text-align: center;
    line-height: 500px;
    color: black; 
}

footer{
    background-color: #566573;
    clear: both;
}

footer h2{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}